/**
    Title: Contact Styles
**/

#contact{
    height: 60em;
}

#header-contactme{
    font-size: 1.75em;
    padding: 0 0 0 3.5em;
    margin: 1em 0;
}

#row-contacticons{
    margin: 1.5em 0;
}

#col-contacticons{
    padding: 0 0 0 3em;
}

.a-contact{
    text-decoration: none;
}

.fa-contact{
    font-size: 2.5em;

    margin: 0 0.75em 0 0;
}

.fa-envelope{
    color: #95a5a6;
}

.fa-facebook-square{
    color: #0c87ef;
}

.fa-twitter{
    color: #1da1f2;
}

.fa-linkedin-square{
    color: #0077b5;
}

