<div class="container-fluid" id="contact">
    
    <div class="row">
        <div class="col-md-5">
        
        </div>
        <div class="col-md-2" id="header-contactme">
            Contact Me
        </div>
    </div>
    
    <div class="row" id="row-contacticons">
        <div class="col-md-5" id="col-paddingspace">
        </div>
        <div class="col-md-5" id="col-contacticons">
            <a href="mailto:sprakash2204@gmail.com" class="a-contact">
                <i class="fa fa-envelope fa-contact"></i>
            </a>
            <a href="https://www.linkedin.com/in/surya-prakash-vasudev-pandurangi-51071080/" target="_blank" class="a-contact">
                <i class="fa fa-linkedin-square fa-contact"></i>
            </a>
            <a href="https://www.facebook.com/suryaprakash.pandurangi" target="_blank" class="a-contact">
                <i class="fa fa-facebook-square fa-contact"></i>
            </a>
            <a href="https://twitter.com/SuryaPandurangi" target="_blank" class="a-contact">
                <i class="fa fa-twitter fa-contact"></i>
            </a>
        </div>
    </div>

    <!--
    <div class="row">
        <a href="mailto:spandurangi@ufl.edu">
            Send Email
        </a>
    </div>
    -->

</div>