/*Skill Colours*/

//Front End
$tilecolor-c: #36d7b7;
$tilecolor-java: #9b59b6;
$tilecolor-python: #f7ca18;

$tilecolor-html: #e74c3c;
$tilecolor-css: #fabe58;
$tilecolor-scss: #cf70a0;
$tilecolor-js: #19b5fe;
$tilecolor-angular: #32E2DD;
$tilecolor-bootstrap: #a537fd;
$tilecolor-material: #bdbdbd;
$tilecolor-reactnative: #f2784b;

//Backend
$tilecolor-spring: #68bd45;
$tilecolor-springboot: #00b5cc;
$tilecolor-springbatch: #68bd45;
$tilecolor-hibernate: #7987BC;
$tilecolor-rest: #FFAB55;
$tilecolor-jersey: #f7ca18;
$tilecolor-swagger: #4183d7;
$tilecolor-mysql: #e26a6a;
$tilecolor-maven: #2abb9b;
$tilecolor-docker: #ed7b24;


//Tools & Technologies
$tilecolor-git: #23cba7;
$tilecolor-bitbucket: #19b5fe;
$tilecolor-jenkins: #89c4f4;
$tilecolor-soapui: #a96dad;
$tilecolor-postman: #37caff;
$tilecolor-jira: #2abb9b;
$tilecolor-confluence: #eb9532;
$tilecolor-trello: #00b5cc;

//Colored Top Borders for IDEs and Editors
$tilecolor-eclipse: #947cb0;
$tilecolor-intellij:#e83e8c;
$tilecolor-vscode: #0d86d1;
$tilecolor-npp: #66cc99;
$tilecolor-vim: #9b59b6;