<div class="container-fluid" id="skills">
    
    <div class="row" id="row-mainheader-skills">
        <div class="col-md-5">

        </div>
        <div class="col-md-2">
            Skills
        </div>
    </div>
    
    <div class="row row-header-skills" id="row-header-prog">
        <div class="col-md-1 col-header-skills">
            Programming
        </div>
    </div>

    <div class="row row-skills" id="row-prog-skills">
        <div class="tile tile-skill" id="tile-c">
            <img src="assets/images/c.png" class="img-skill" id="img-c" />
            <span class="txt-skill">C Programming</span>
        </div>
        
        <div class="tile tile-skill" id="tile-java">
            <img src="assets/images/java.png" class="img-skill"  id="img-java" />
            <span class="txt-skill">Java</span>
        </div>
        <!--
        <div class="tile tile-skill" id="tile-python">
            <img src="assets/images/python.png" class="img-skill" id="img-python" />
            <span class="txt-skill">Python</span>
        </div>
        -->
    </div>

    <div class="row row-header-skills">
        <div class="col-md-2 col-header-skills">
            Front End Technologies
        </div>
    </div>

    <div class="row row-skills" id="row-frontend-skills">
        <div class="tile tile-skill" id="tile-html">
            <img src="assets/images/html5.png" class="img-skill" id="img-html" />
            <span class="txt-skill">HTML</span>
        </div>
        
        <div class="tile tile-skill" id="tile-css">
            <img src="assets/images/css3.png" class="img-skill"  id="img-css" />
            <span class="txt-skill">CSS</span>
        </div>
        
        <div class="tile tile-skill" id="tile-scss">
            <img src="assets/images/sass.png" class="img-skill"  id="img-scss" />
            <span class="txt-skill">SASS/SCSS</span>
        </div>
        
        <div class="tile tile-skill" id="tile-js">
            <img src="assets/images/javascript.png" class="img-skill" id="img-js" />
            <span class="txt-skill">JavaScript</span>
        </div>

        <div class="tile tile-skill" id="tile-angular">
            <img src="assets/images/angular.png" class="img-skill" id="img-angular" />
            <span class="txt-skill">Angular</span>
        </div>

        <div class="tile tile-skill" id="tile-bootstrap">
            <img src="assets/images/bootstrap.png" class="img-skill" id="img-bootstrap" />
            <span class="txt-skill">Bootstrap</span>
        </div>

        <div class="tile tile-skill" id="tile-material">
            <img src="assets/images/material-design.png" class="img-skill" id="img-material" />
            <span class="txt-skill">Material</span>
        </div>

        <div class="tile tile-skill" id="tile-rn">
            <img src="assets/images/react-native.png" class="img-skill" id="img-rn" />
            <span class="txt-skill">React-Native</span>
        </div>
    </div>

    <div class="row row-header-skills">
        <div class="col-md-2 col-header-skills">
            BackEnd Technologies
        </div>
    </div>

    <div class="row row-skills" id="row-backend-skills">
        <div class="tile tile-skill" id="tile-spring">
            <img src="assets/images/spring.png" class="img-skill" id="img-spring" />
            <span class="txt-skill">Spring</span>
        </div>

        <div class="tile tile-skill" id="tile-springboot">
            <img src="assets/images/spring-boot.png" class="img-skill" id="img-springboot" />
            <span class="txt-skill">Spring Boot</span>
        </div>
        
        <div class="tile tile-skill" id="tile-springbatch">
            <img src="assets/images/spring.png" class="img-skill" id="img-springbatch" />
            <span class="txt-skill">Spring Batch</span>
        </div>

        <div class="tile tile-skill" id="tile-hibernate">
            <img src="assets/images/hibernate.png" class="img-skill" id="img-hibernate" />
            <span class="txt-skill">Hibernate</span>
        </div>
        
        <div class="tile tile-skill" id="tile-rest">
            <img src="assets/images/rest.png" class="img-skill" id="img-rest" />
            <span class="txt-skill">RESTFul Web Services</span>
        </div>

        <div class="tile tile-skill" id="tile-jersey">
            <img src="assets/images/jersey-t.png" class="img-skill" id="img-jersey" />
            <span class="txt-skill">Jersey</span>
        </div>

        <div class="tile tile-skill" id="tile-swagger">
            <img src="assets/images/swagger.png" class="img-skill" id="img-swagger" />
            <span class="txt-skill">Swagger</span>
        </div>

        <div class="tile tile-skill" id="tile-mysql">
            <img src="assets/images/mysql.png" class="img-skill" id="img-mysql" />
            <span class="txt-skill">MySQL</span>
        </div>

        <div class="tile tile-skill" id="tile-maven">
            <img src="assets/images/maven.svg" class="img-skill" id="img-maven" />
            <span class="txt-skill">Maven</span>
        </div>

        <div class="tile tile-skill" id="tile-docker">
            <img src="assets/images/docker.png" class="img-skill" id="img-docker" />
            <span class="txt-skill">Docker</span>
        </div>
    </div> 

    <div class="row row-header-skills">
        <div class="col-md-2 col-header-skills">
            Tools and Technologies
        </div>
    </div>

    <div class="row row-skills" id="row-tools">
        <div class="tile tile-skill" id="tile-git">
            <img src="assets/images/git.png" class="img-skill" id="img-git" />
            <span class="txt-skill">Git</span>
        </div>
        
        <div class="tile tile-skill" id="tile-bitbucket">
            <img src="assets/images/bitbucket.png" class="img-skill" id="img-bitbucket" />
            <span class="txt-skill">BitBucket</span>
        </div>
        
        <div class="tile tile-skill" id="tile-jenkins">
            <img src="assets/images/jenkins.png" class="img-skill" id="img-jenkins" />
            <span class="txt-skill">Jenkins</span>
        </div>

        

        <div class="tile tile-skill" id="tile-soapui">
            <img src="assets/images/soapui.png" class="img-skill" id="img-soapui" />
            <span class="txt-skill">SOAP UI</span>
        </div>

        <div class="tile tile-skill" id="tile-postman">
            <img src="assets/images/postman.png" class="img-skill" id="img-postman" />
            <span class="txt-skill">Postman</span>
        </div>

        <div class="tile tile-skill" id="tile-jira">
            <img src="assets/images/Jira.png" class="img-skill" id="img-jira" />
            <span class="txt-skill">Jira</span>
        </div>

        <div class="tile tile-skill" id="tile-confluence">
            <img src="assets/images/confluence.png" class="img-skill" id="img-confluence" />
            <span class="txt-skill">Confluence</span>
        </div>

        <div class="tile tile-skill" id="tile-trello">
            <img src="assets/images/trello.png" class="img-skill" id="img-trello" />
            <span class="txt-skill">Trello</span>
        </div>
    </div>

    <div class="row row-header-skills">
        <div class="col-md-2 col-header-skills">
            IDEs and Editors
        </div>
    </div>
    <div class="row row-skills" id="row-tools">
        <div class="tile tile-skill" id="tile-eclipse">
            <img src="assets/images/eclipse.png" class="img-skill" id="img-eclipse" />
            <span class="txt-skill">Eclipse</span>
        </div>

        <div class="tile tile-skill" id="tile-intellij">
            <img src="assets/images/intellij.jpg" class="img-skill" id="img-intellij" />
            <span class="txt-skill">IntelliJ IDEA</span>
        </div>

        <div class="tile tile-skill" id="tile-vscode">
            <img src="assets/images/vscode.png" class="img-skill" id="img-vscode" />
            <span class="txt-skill">VS Code</span>
        </div>

        <div class="tile tile-skill" id="tile-npp">
            <img src="assets/images/notepadpp.png" class="img-skill" id="img-npp" />
            <span class="txt-skill">Notepad++</span>
        </div>

        <div class="tile tile-skill" id="tile-vim">
            <img src="assets/images/vim.jpg" class="img-skill" id="img-vim" />
            <span class="txt-skill">Vi Editor</span>
        </div>
    </div>
</div>