<div class="container-fluid" id="resume">
    <div class="row" id="row-mainheader-resume">
        <div class="col-md-5">

        </div>
        <div class="col-md-5">
            Download Resume
        </div>
    </div>

    <div class="row">
        <div class="col-md-5"  id="col-download-resume">
            
        </div>
        <div class="col-md-3">
            <a class="btn btn-secondary btn-resume" routerLink="/resume"  id="btn-downloadresume" (click)="downloadResume()">
                Download
            </a>
            <a class="btn btn-secondary btn-resume" routerLink="/resume" id="btn-viewresume" (click)="viewResume()">
                View
            </a>
        </div>
        <!--
        <div class="col-md-3">
            <a class="btn btn-secondary btn-resume" 
                href="https://www.linkedin.com/resume-builder/urn:li:fs_memberResume:3282985/"
                routerLink="/resume" 
                id="btn-viewresume" 
                >
                View
            </a>
        </div>
        -->
    </div>
</div>