#resume{
    height: 50.25em;
}

#row-mainheader-resume{
    margin: 1em 0;
    padding: 0 0 0 1em;
    
    font-size: 1.75em;
}

#col-download-resume{
    margin: 0 2.5em 0 0;
}

.btn-resume{
    color: #ffffff;
    background-color: #1F4788;
}

#btn-downloadresume{
    margin: 0 1em 0 0;
}
