<div class="container-fluid" id="home">
    <div class="row" id="row-header-title">
        <div class="col-md-4">
        </div>
        <div class="col-md-2">
            <!--
            <div class="row" id="header-title">
                Full Stack Web Developer
            </div>
            -->
            <div class="row">
                <img src="assets/images/surya.PNG" id="img-admin" />
            </div>
        </div>
        <div class="col-md-4" id="col-details">
            <div class="row">
                Name: Surya Prakash Pandurangi
            </div>
            <div class="row">
                MS in Computer Science
            </div>
            <div class="row">
                Experience: 3 yrs 9 months
            </div>
            <div class="row">
                Location: Gainesville, Florida.
            </div>
            
        </div>
    </div>
    <div class="row row-header-home" id="row-header-abtme">
        <div class="col-md-5">
        </div>
        <div class="col-md-1" id="col-header-abtme">
            About Me
        </div>
    </div>
    <div class="row" id="row-aboutme">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            I am a Full Stack Web Developer, currently pursuing my Masters at the University of Florida. I have over 3 years of experience working in the IT Sector,
            mostly in the Banking and Financial Services Vertical. I have worked with both Front End and Back End technologies. I have good exposure to various design 
            patterns and various Advanced Algorithmic practices. I have good working knowledge in various industry standards and tools & technologies. I am looking for 
            challenging projects that push me beyond my current limits while proving my mettle with my current standards/skills.
        </div>
        <div class="col-md-2">
        </div>
        <div class="row" id="work-experience">
        </div>
    </div>
   
    <div class="row row-header-home" id="row-header-workexp">
        <div class="col-md-5">
        </div>
        <div class="col-md-2 col-header-home" id="col-header-workexp">
            Work Experience
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-3">
        </div>

        <div class="col-md-6" id="col-table-exp">
           <div class="row row-exp">
                <div class="col-md-6">
                    <img src="assets/images/accionlabs.png" class="img-exp" id="img-acl"/>
                </div>
                <div class="col-md-1">

                </div>
                <div class="col-md-4">
                    <div class="row">
                        <span class="job-role">Associate Software Engineer</span>
                    </div>
                    <div class="row">
                        Accion Labs
                    </div>
                    <div class="row">
                        August 2019 - November 2019
                    </div>
                </div>
            </div>

            <div class="row row-exp">
                <div class="col-md-6">
                    <img src="assets/images/lti.png" class="img-exp" id="img-lti"/>
                </div>
                <div class="col-md-1">
                    
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <span class="job-role">Associate Software Engineer</span>
                    </div>
                    <div class="row">
                        L&T Infotech Ltd.
                    </div>
                    <div class="row">
                        June 2018 - June 2019
                    </div>
                </div>
            </div>

            <div class="row row-exp">
                <div class="col-md-6">
                    <img src="assets/images/cognizant.png" class="img-exp" id="img-cts"/>
                </div>
                <div class="col-md-1">
                    
                </div>
                <div class="col-md-4" id="col-cts">
                    <div class="row">
                        <span class="job-role">Programmer Analyst</span>
                    </div>
                    <div class="row">
                        Cognizant Technologies
                    </div>
                    <div class="row">
                        February 2017 - June 2018
                    </div>
                    <div class="row row-empty">
                    </div>
                    <div class="row">
                        <span class="job-role">Programmer Analyst Trainee</span>
                    </div>
                    <div class="row">
                        Cognizant Technologies
                    </div>
                    <div class="row">
                        February 2016 - February 2017
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row row-header-home" id="row-header-workexp">
        <div class="col-md-5">
        </div>
        <div class="col-md-2 col-header-home" id="col-header-edu">
            Education 
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-3">
            
        </div>

        <div class="col-md-6" id="col-table-edu">
           <div class="row row-edu">
                <div class="col-md-6">
                    <img src="assets/images/uf.png" class="img-edu"/>
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-4">
                    <div class="row">
                        MS in Computer Science
                    </div>
                    <div class="row">
                        University of Florida
                    </div>
                    
                    <div class="row">
                        January 2020 - Current Date
                    </div>
                    <div class="row">
                        GPA: 3.5
                    </div>
                </div>
            </div>

            <div class="row row-edu">
                <div class="col-md-6">
                    <img src="assets/images/vit.png" class="img-edu"/>
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-4">
                    <div class="row">
                        B.Tech - Electronics and Communication Engineering
                    </div>
                    <div class="row">
                        Vellore Institute of Technology, India
                    </div>
                    
                    <div class="row">
                        June 2011 - May 2015
                    </div>
                    <div class="row">
                        GPA: 8.13/10
                    </div>
                </div>
            </div>           

        </div>      
    </div>
</div>
